@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins" , sans-serif;
    text-decoration: none;
    list-style: none;
    
}

html{
    scroll-behavior: smooth;
}

body{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: rgb(20, 20, 20);
    overflow-x: hidden;
}

header{
    width: 100%;
    height: 100%;
    min-height: 100vh;
}


.menu{
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 8%;
    background: rgb(149, 182, 3);
    box-sizing: border-box;
    
}


.textodonav{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    font-size: 25px;
    font-weight: bold;
}

nav ul li a{
    display: block;
    padding: 1rem;
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

nav ul li a:hover{
    
    color: white;
    transition: 0.5s;
}

.bx-menu{
    display: none;
    background-color: transparent;
    border-color: transparent;
    font-size: 30px;
    z-index: 10001;
    cursor: pointer;
    margin-top: 10px;
    padding-top: 0px;
}

.background{
    width: 100%;
    background: rgb(20, 20, 20);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-bottom: 30px;
    overflow: hidden;
    
}

.background .texto{
    display: block;
    margin-bottom: 30px;
    text-align: center;
}

.background .texto h2{
    font-size: 40px;
    color: white;
    font-weight: bold;
    padding-top: 40px;
    margin-bottom: 5px;
}
.background .texto h1{
    font-size: 60px;
    color: white;
    font-weight: bold;
    line-height: 50px;
}

.box{
    display: flex;
    justify-content: right;
    align-items: center;
    min-height: 400px;
    width: 50%;
    margin-left: 5%;
   
}

.box-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.box-texto > h2{
    margin-left: 30px;
    width: 60%;
    text-align: left;
    color: rgb(149, 182, 3);
    font-size: 30px;
    margin-bottom: 40px;
}

.box-texto > h4{
    margin-left: 30px;
    width: 60%;
    text-align: left;
    color: white;
    font-size: 18px;
}

.card{
    height: 550px;
    width: auto;
    max-width: 700px;
    border-radius: 5px;
    border:solid 1px black;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
    box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.61);
    -webkit-box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.61);
    -moz-box-shadow: 8px 7px 5px 0px rgba(0,0,0,0.61);
}

.card img{
    height: 100%;
}

.card:hover{
    transform: scale(1.02);
    transition: .3s;
}

.opcoes{
    display: flex;
    flex-direction: row;
    margin-top: 50px;

    
}

.sub-box{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
  
    
   
}

.colum-sub-card{
   display: flex;
   align-items: center;
   justify-content: center;
}


.sub-box-texto > h2{
    text-align: left;
    color: rgb(255, 255, 255);
    font-size: 25px;
    margin-bottom: 40px;
    
}


.sub-card{
    height: auto;
    width: 350px;
    position: relative;
    overflow: hidden;
    text-align: center;
    margin-left: 15px;
    margin-right: 15px;
}

.sub-card img{
    width: 100%;
    height: auto;
    border:solid 2px black;
    border-radius: 5px;
    
}

.sub-card:hover{
    transform: scale(1.02);
    transition: .3s;
}

.sub-opcoes{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    margin-top: 100px;
    width: 100%;
    
}

.sub-box-texto{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 10px;
    width: 350px;
}

.colum-sub-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.newsletter{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 5%;
    max-width: 95%;
    margin-bottom: 50px;
    gap: 1rem;
}

.newsletter > input{
    border-radius: 5px;
    border: 1px solid greenyellow;
    height: 50px;
    width: 500px;
    padding-left: 5px;
}

.newsletter > button{
    border-radius: 5px;
    border: 1px solid greenyellow;
    height: 50px;
    width: 80px;
}

.newsletter > button:hover{
    transform: scale(1.1);
    background-color: rgb(129, 129, 129);
}


footer{
    position: relative;
    width: 100%;
    height: 350px;
    background-color: rgb(149, 182, 3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

footer p:nth-child(2){
    font-size: 35px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer p:nth-child(3){
    color: white;
    font-size: 22px;
    width: 800px;
    text-align: center;
    line-height: 26px;
    max-width: 95%;
    margin-bottom: 5px;

}

.enderecofooter{
    color: white;
    font-size: 22px;
    width: 800px;
    text-align: center;
    line-height: 26px;
    max-width: 95%;
}

.enderecofooter:hover{
    color: rgb(15, 22, 14);
}
    
.social{
    display: flex;
}

.social a{
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;
    border-radius: 50%;
    margin: 22px 10px;
    color: rgb(149, 182, 3);
    text-decoration: none;
    font-size: 28px;
}

.social a:hover{
    transform: scale(1.2);
    transition: .3s;
}

.mapa-da-pagina{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
    gap: 3rem;
    max-width: 95%;
}

.mapa-da-pagina > a{
    color: white;

}

.mapa-da-pagina > a:hover{
    color: rgb(15, 22, 14);
    transition: 0.5s;
}

.end{
    position: relative;
    color: white;
    bottom: 22px;
    font-size: 18px;
    

}

.end:hover{
    color: rgb(15, 22, 14);
}

@media (max-width: 838px) {
    .sub-opcoes {
        flex-direction: column;
        justify-content: center;

    }

    .sub-box-texto{
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
}




@media (max-width: 1400px) {


    .bx-menu{
        display: flex;
        color: rgb(18, 10, 67);;
    }

    ul{
        display: inline-block;
        position: absolute;
        width: 100%;
        top: 100px;
        right: 0;
        height: 80%;
        z-index: 10000;
        padding: 1rem 0;
        height: 0px;
        transition: .6s;
        visibility: hidden;
        overflow-y: hidden;
        
        
    }


    .textodonav{
        display: block;
        align-items: center;
        justify-content: center;
        position: relative;
        overflow: hidden;
        text-align: center;
        font-size: 30px;
        background: rgb(149, 182, 3);
        
    

    }

    nav ul li a{
        border-top: 1px solid #ffffff;
    }

    nav ul li:nth-child(5){
        border-bottom: 1px solid #ffffff;
    }

    nav ul li a:hover{
        background: #161d25;
        
    }

    .menu{
        height: 120px;
        transition: all .55s;
        background-color: rgb(149, 182, 3);
    
    }


    .nav ul.open{
        right: 0;
    }

    #nav.active #menu{
        height: 100vh;
        visibility: visible;
    }

    .logo{
        margin-top: 20px;
        height: 75px;
        width: auto;
        margin-bottom: -20px;
    }

    .bx-menu{
        font-size: 40px;
    }
}



@media (max-width: 1250px) {


}


@media (max-width: 1050px) {
    footer{
        height: 400px;
        
    }
    
    footer p:nth-child(2){
        font-size: 40px;
    }
    
    footer p:nth-child(3){
        font-size: 22px;
        margin-bottom: 10px;
        
    }
    
    footer p:nth-child(4){
        font-size: 25px;
    }
    
    .social a{
        width: 70px;
        height: 70px;
        font-size: 35px;
    }
    
    .end{
        font-size: 19px;
    }

   
}

@media (max-width: 900px) {
    .opcoes{
        flex-direction: column;
        align-items: center;
    }

    .box{
     
        justify-content: center;
        align-items: center;
        min-height: 400px;
        margin-left: 0;
       
       
    }

    .box-texto{
        align-items: center;
        justify-content: center;
        margin-top: 50px;
    }

    .box-texto > h4{
        margin-left: 0px;
        width: 80%;
        text-align: left;
        color: white;
        font-size: 18px;
    }

   
}







